# Virtual Environment
venv/

# Python cache
__pycache__/
*.pyc
*.pyo

# Database (local only)
db.sqlite3

# Environment variables
.env

# Django stuff
*.log

# VS Code / IDE
.vscode/
.idea/

# Mac / Windows junk files
.DS_Store
Thumbs.db